* {
    box-sizing: border-box;
    /* border: black 1px solid; */
    max-width: 100%;
}

body {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
header {
    background-color:gainsboro;
    padding: 20px;
    margin-bottom: 15px;
}
footer {
    background-color: gainsboro;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topsection {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.description {
    padding: 20px;
    width: 50%;
}
.row {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.portfolio-element {
    text-align: center;
}
button {
    background-color: white;
    color: black;
    border: black solid 1px;
    padding: 10px 20px;
}
button:hover {
    background-color: black;
    color: white;
    border: white solid 1px;
}
button a {
    text-decoration: none;
    color: inherit;
}

.fa {
    padding: 10px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-instagram {
    background: #125688;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-reddit {
    background: #ff5700;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
@media (max-width: 800px) {
    .topsection {
        flex-direction: column;
        align-items: center;
    }
    .topsection img {
        padding: 5px;
        width: 95%;
    }
    .topsection .description {
        width: 90%;
        padding-top: 1%;
        text-align: center;
    }
    header button {
        font-size: 1.2rem;
    }
    .topsection button {
        font-size: 1.2rem;
    }
    footer button {
        font-size: 1.2rem;
    }
    .row {
        flex-wrap: wrap;
    }
    .row>* {
        flex: 1 1 150px;
    }
}
@media (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header button {
        display: flex;
        margin: 1px;
        justify-content: center;
        width: 100%;
    }
}